{% extends "layout.html" %}
{% import "macros.html" as macros with context %}

{% block page_content %}
<div class="container">
    {{ macros.cd_content(cd_content_hdr, cd, uitvoeringen) }}
</div>
{% if current_user.is_authenticated %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a href="{{ url_for('main.update_uitvoering', nid=cd.id) }}" class="btn btn-primary" role="button">
                Uitvoeringen aanpassen
            </a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
