{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.html" as macros with context %}

{% block page_content %}
<div class="row">
    <div class="col-md-4">
        <h1>CD Invoeren</h1>
        {{ wtf.quick_form(form) }}
    </div>
    <div class="col-md-8">
        {% if uitvoeringen is defined %}
            {{ macros.cd_content(cd.titel, cd, uitvoeringen) }}
        {% else %}
            {{ macros.cd_list(cd_list_hdr, cds) }}
        {% endif %}

    </div>
</div>
{% endblock %}