{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="container">
    <h1>CD Aanpassen</h1>
    <form action="" method="post" class="form form-inline" role="form">
        {{ form.csrf_token() }}
        {{ wtf.form_field(form.titel, class="form-control", placeholder="CD Titel") }}<br />
        {{ wtf.form_field(form.identificatie, class="form-control", placeholder="Bijkomende informatie...") }}<br/>
        {{ wtf.form_field(form.uitgever, class="form-control") }}<br/>
        {{ wtf.form_field(form.submit, class="form-control btn btn-warning btn-block") }}
        {{ wtf.form_field(form.uitgever_mod, class="form-control btn btn-primary btn-block") }}
    </form>
</div>
{% endblock %}