{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.html" as macros with context %}

{% block page_content %}
<div class="row">
    <div class="col-md-4">
        <h1>{{ hdr }}</h1>
        {{ wtf.quick_form(form) }}
    </div>
    <div class="col-md-8">
        {% if dirigent is defined %}
            {{ macros.uitvoeringen([dirigent.voornaam, dirigent.naam]|join(' '), uitvoeringen) }}
        {% else %}
            {{ macros.dirigenten("Overzicht dirigenten", dirigenten) }}
        {% endif %}
    </div>
</div>
{% endblock %}