{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<h1>{{ hdr }}</h1>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover">
            <tr>
                <th>Naam</th>
                <th>CD</th>
            </tr>
            {% for kompositie in komponist.kompositie %}
                <tr>
                    <td><a href="{{ url_for('main.show_kompositie', nid=kompositie.id) }}">
                        {{ kompositie.naam }}
                    </td>
                    <td>
                    {% for uitvoering in kompositie.uitvoering %}
                        <a href="{{ url_for('main.show_cd', nid=uitvoering.cd.id) }}">{{ uitvoering.cd.titel }}</a><br>
                    {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
