{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" class="init">
    $(document).ready(function() {
        $('#komposities').DataTable();
    } );
    </script>
{% endblock %}

{% block page_content %}
<h1>{{ hdr }}</h1>
<div class="row">
    <div class="col-md-9">
        <table id="komposities" class="table table-hover">
            <thead>
            <tr>
                <th>Naam</th>
                <th>Komponist</th>
                <th>Aantal</th>
            </tr>
            </thead>
            <tbody>
            {% for row in komposities %}
                <tr>
                    <td>
                        <a href="{{ url_for('main.show_kompositie', nid=row.Kompositie.id) }}">
                            {{ row.Kompositie.naam }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('main.show_komponist', nid=row.Kompositie.komponist.id) }}">
                            {{ row.Kompositie.komponist.voornaam }} {{ row.Kompositie.komponist.naam }}
                        </a>
                    </td>
                    <td>{{ row.Cnt }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
