{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.html" as macros with context %}


{% block page_content %}
<div class="row">
    <div class="col-md-4">
        <h1>Kompositie Aanpassen</h1>
       {{ wtf.quick_form(form) }}
    </div>
    <div class="col-md-8">
        {% if uitvoeringen is defined %}
            {{ macros.uitvoeringen(uitvoeringen_hdr, uitvoeringen) }}
        {% else %}
            {{ macros.komponisten("Overzicht komponisten", komponisten) }}
        {% endif %}
    </div>
</div>
{% endblock %}


