{% extends "bootstrap/base.html" %}

{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.20/datatables.min.css"/>
{% endblock %}

{% block scripts %}
{{ super() }}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.20/datatables.min.js"></script>
{% endblock %}

{% block title %}Klamu{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="{{ url_for('main.index') }}">klamu</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                     <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Informatie
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.show_cds') }}">CDs</a></li>
                            <li><a href="{{ url_for('main.show_dirigenten') }}">Dirigenten</a></li>
                            <li><a href="{{ url_for('main.show_komponisten') }}">Komponisten</a></li>
                            <li><a href="{{ url_for('main.show_komposities') }}">Komposities</a></li>
                            <li><a href="{{ url_for('main.show_uitgevers') }}">Uitgevers</a></li>
                            <li><a href="{{ url_for('main.show_uitvoerders') }}">Uitvoerders</a></li>
                            <li><a href="{{ url_for('main.show_uitvoeringen') }}">Uitvoeringen</a></li>
                        </ul>
                    </li>
                     <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Bijwerken
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('main.update_cd') }}">Nieuwe CD</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.logout') }}">
                                <span class="glyphicon glyphicon-log-out"></span> Logout
                            </a>
                        {% else %}
                            <a href="{{ url_for('main.login') }}">
                                <span class="glyphicon glyphicon-log-in"></span> Login</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
<div class="container">

    {% with messages = get_flashed_messages(category_filter=["error"]) %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages(category_filter=["warning"]) %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages(category_filter=["info", "message"]) %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<div class="container">
    {% block page_content %}
    {% endblock %}
</div>

{% endblock %}
