{% macro cd_content(cd_content_hdr, cd, uitvoeringen) %}
    <div class="row">
        <h1>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('main.update_cd', nid=cd.id) }}">
        {% endif %}
        {{ cd_content_hdr }}
        {% if current_user.is_authenticated %}
            </a>
            {% if uitvoeringen.count() == 0 %}
                <a href="{{ url_for('main.delete_cd', nid=cd.id) }}">
                    <span class="glyphicon glyphicon-trash"></span>
                </a>
            {% endif %}
        {% endif %}
        </h1>
        Uitgever: {{ cd.uitgever.naam }}<br>
        Identificatie: {% if cd.identificatie != None %}{{ cd.identificatie }}{% endif %}
        <table id="my_table" class="table table-hover">
            <thead>
            <tr>
                <th>Nr</th>
                <th>Naam</th>
                <th>Komponist</th>
                <th>Uitvoerders</th>
                <th>Dirigent</th>
            </tr>
            </thead>
            <tbody>
            {% for row in uitvoeringen %}
                <tr>
                    <td>
                        {% if row.volgnummer != None %}
                            {{ row.volgnummer  }}
                        {% endif %}
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.update_uitvoering', nid=row.id) }}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for('main.show_kompositie', nid=row.kompositie.id) }}">
                            {{ row.kompositie.naam }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('main.show_komponist', nid=row.kompositie.komponist.id) }}">
                            {{ row.kompositie.komponist.voornaam }} {{ row.kompositie.komponist.naam }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('main.show_uitvoerders_uitvoeringen', nid=row.uitvoerders.id) }}">
                            {{ row.uitvoerders.naam }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('main.show_dirigent', nid=row.dirigent.id) }}">
                            {{ row.dirigent.voornaam}} {{ row.dirigent.naam }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro cd_list(hdr, cds) %}
    <div class="row">
        <h1>{{ hdr }}</h1>
        <table id="my_table" class="table table-hover">
            <thead>
            <tr>
                <th>Titel</th>
                <th>Identificatie</th>
                <th>Uitgever</th>
                <th>Items</th>
                <th>Toegevoegd</th>
            </tr>
            </thead>
            <tbody>
            {% for row in cds %}
                <tr>
                    <td>
                        <a href="{{ url_for('main.show_cd', nid=row.id) }}">{{ row.titel }}</a>
                        {% if current_user.is_authenticated %}
                            {% if row.items == 0 %}
                                <a href="{{ url_for('main.delete_cd', nid=row.id) }}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            {% endif %}
                        {% endif %}

                    </td>
                    {% if row.identificatie == None %}
                        <td></td>
                    {% else %}
                        <td>{{ row.identificatie }}</td>
                    {% endif %}
                    <td>
                        <a href="{{ url_for('main.show_cds', nid=row.uitgever.id) }}">
                            {{ row.uitgever.naam }}
                        </a>
                    </td>
                    <td>{{ row.items }}</td>
                    <td>{{ row.created | datestamp }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro dirigenten(hdr, dirigenten) %}
    <div class="row">
        <h1>{{ hdr }}</h1>
        <table id="my_table" class="table table-hover">
            <thead>
            <tr>
                <th>Dirigent</th>
                <th>Aantal</th>
            </tr>
            </thead>
            <tbody>
            {% for row in dirigenten %}
                <tr>
                    <td>
                        <a href="{{ url_for('main.show_dirigent', nid=row.id) }}">
                            {{ row.fnaam }}
                        </a>
                        {% if current_user.is_authenticated %}
                            {% if row.items == 0 %}
                                <a href="{{ url_for('main.delete_dirigent', nid=row.id) }}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ row.items }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro komponisten(hdr, komponisten) %}
    <div class="row">
        <h1>{{ hdr }}</h1>
        <table id="my_table" class="table table-hover">
            <thead>
            <tr>
                <th>Komponist</th>
                <th>Komposities</th>
                <th>Uitvoeringen</th>
                <th>Toegevoegd</th>
            </tr>
            </thead>
            <tbody>
            {% for row in komponisten %}
                <tr>
                    <td>
                        <a href="{{ url_for('main.show_komponist', nid=row.id) }}">
                            {{ row.fnaam }}
                        </a>
                        {% if current_user.is_authenticated %}
                            {% if row.komposities == 0 %}
                                <a href="{{ url_for('main.delete_komponist', nid=row.id) }}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ row.komposities }}</td>
                    <td>{{ row.items }}</td>
                    <td>{{ row.created | datestamp }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro komposities(hdr, komposities) %}
<div class="row">
    <h1>{{ hdr }}</h1>
    <table id="my_table" class="table table-hover">
        <thead>
        <tr>
            <th>Naam</th>
            <th>Komponist</th>
            <th>Aantal</th>
        </tr>
        </thead>
        <tbody>
        {% for row in komposities %}
            <tr>
                <td>
                    <a href="{{ url_for('main.show_kompositie', nid=row.id) }}">
                        {{ row.naam }}
                        {% if current_user.is_authenticated %}
                            {% if row.items == 0 %}
                                <a href="{{ url_for('main.delete_kompositie', nid=row.id) }}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('main.show_komponist', nid=row.komponist.id) }}">
                        {{ row.komponist.naam }} {{ row.komponist.voornaam }}
                    </a>
                </td>
                <td>
                    {{ row.items }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro uitgevers(hdr, uitgevers) %}
    <div class="row">
        <h1>{{ hdr }}</h1>
        <table id="my_table" class="table table-hover">
            <thead>
            <tr>
                <th>Uitgever</th>
                <th>Aantal</th>
            </tr>
            </thead>
            <tbody>
            {% for row in uitgevers %}
                <tr>
                    <td>
                        <a href="{{ url_for('main.show_cds', nid=row.id) }}">
                            {{ row.naam }}
                        </a>
                        {% if current_user.is_authenticated %}
                            {% if row.items == 0 %}
                                <a href="{{ url_for('main.delete_uitgever', nid=row.id) }}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ row.items }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro uitvoerders(hdr, uitvoerders) %}
    <div class="row">
        <h1>{{ hdr }}</h1>
        <table id="my_table" class="table table-hover">
            <thead>
            <tr>
                <th>Uitvoerders</th>
                <th>Aantal</th>
            </tr>
            </thead>
            <tbody>
            {% for row in uitvoerders %}
                <tr>
                    <td>
                        <a href="{{ url_for('main.show_uitvoerders_uitvoeringen', nid=row.id) }}">
                            {{ row.naam }}
                        </a>
                        {% if current_user.is_authenticated %}
                            {% if row.items == 0 %}
                                <a href="{{ url_for('main.delete_uitvoerders', nid=row.id) }}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ row.items }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro uitvoeringen(hdr, uitvoeringen) %}
    <div class="row">
        <h1>{{ hdr }}</h1>
        <table id="my_table" class="table table-hover">
            <thead>
            <tr>
                <th>CD</th>
                <th>Nr</th>
                <th>Kompositie</th>
                <th>Komponist</th>
                <th>Uitvoerders</th>
                <th>Dirigent</th>
            </tr>
            </thead>
            <tbody>
            {% for row in uitvoeringen %}
                <tr>
                    <td>
                        <a href="{{ url_for('main.show_cd', nid=row.cd.id) }}">
                            {{ row.cd.titel }}
                        </a>
                    </td>
                    <td>
                        {% if row.volgnummer != None %}
                            {{ row.volgnummer }}
                        {% endif %}
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.update_uitvoering', nid=row.id) }}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for('main.show_kompositie', nid=row.kompositie.id) }}">
                            {{ row.kompositie.naam }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('main.show_komponist', nid=row.kompositie.komponist.id) }}">
                            {{ row.kompositie.komponist.naam }} {{ row.kompositie.komponist.voornaam }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('main.show_uitvoerders_uitvoeringen', nid=row.uitvoerders.id) }}">
                            {{ row.uitvoerders.naam }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('main.show_dirigent', nid=row.dirigent.id) }}">
                            {{ row.dirigent.fnaam}}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}