{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" class="init">
    $(document).ready(function() {
        $('#uitvoeringen').DataTable();
    } );
    </script>
{% endblock %}

{% block page_content %}

<h1>{{ hdr }}</h1>
<div class="row">
    <div class="col-md-12">
        <table id="uitvoeringen" class="table table-hover">
            <thead>
            <tr>
                <th>CD</th>
                <th>Nr</th>
                <th>Kompositie</th>
                <th>Komponist</th>
                <th>Uitvoerders</th>
                <th>Dirigent</th>
            </tr>
            </thead>
            <tbody>
            {% for row in uitvoeringen %}
                <tr>
                    <td>
                        <a href="{{ url_for('main.show_cd', nid=row.cd.id) }}">
                            {{ row.cd.titel }}
                        </a>
                    </td>
                    <td>
                        {% if row.volgnummer != None %}
                            {{ row.volgnummer }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ url_for('main.show_kompositie', nid=row.kompositie.id) }}">
                            {{ row.kompositie.naam }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('main.show_komponist', nid=row.kompositie.komponist.id) }}">
                            {{ row.kompositie.komponist.voornaam }} {{ row.kompositie.komponist.naam }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('main.show_uitvoerders_uitvoeringen', nid=row.uitvoerders.id) }}">
                            {{ row.uitvoerders.naam }}
                        </a>
                    </td>
                    <td>
                        <a href="{{ url_for('main.show_dirigent', nid=row.dirigent.id) }}">
                            {{ row.dirigent.voornaam}} {{ row.dirigent.naam }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
